@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: visible;
    background-color: #fdfae1;
    color: black;
}

html, body{
    margin: 0;
    padding: 0;
}


.logo{
    font-size: 3rem;
    color: #006A71;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #f0eada;
}

.home .home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #006A71;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 2rem;
}

.home-img img{
    position: relative;
    width: 32vw;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #006A71;
    cursor: pointer;
    aspect-ratio: 16/16;
    transition: 0.2s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    color: #48A6A7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid black;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: white;
    transform:scale(1.3) translateY(-5px) ;
    background-color: var(--accent-color);
    box-shadow: 0 0 25px var(--accent-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #f0eada;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: 2px solid black;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #006A71;
    color: white;
    box-shadow: 0 0 25px #006A71;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #006A71;
    cursor: pointer;
    aspect-ratio: 16/16;
    transition: 0.2s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about h1{
    color: #006A71;
    font-size: 5rem;
    font-weight: 700;
}

.about-me p{
    font-size: 2rem;
}

.about-me h3{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skill-badge{
    display: flex;
    gap: 3rem;
}

.skill-badge a{
    background-color: #f0e2bd;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgb(63, 62, 62);
}

.skill-badge a svg{
    height: 3rem;
}

.skill-badge a::before{
    content: attr(data-badge);
    position: absolute;
    background-color: #f0e2bd;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75em 1.5em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgb(63, 62, 62);
    transform: translateY(-30) rotate(25deg);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.skill-badge a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid #f0e2bd;
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.skill-badge a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.skill-badge a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
    -webkit-transform: translateY(-42px) rotate(0);
    -moz-transform: translateY(-42px) rotate(0);
    -ms-transform: translateY(-42px) rotate(0);
    -o-transform: translateY(-42px) rotate(0);
}